@page "/gameover"

<h3>GameOver</h3>

<div class="GameOver-Screen">
    <h1 class="GameOver-Title">GAME OVER</h1>
    <p class="GameOver-Message"> Get up. He is waiting for you. =)</p>

    <button class="GameOver-RestartButton" @onclick="RestartFight">Try Again?</button>
</div>

@code 
{
    [Parameter] public EventCallback OnRestart { get; set; }

    private async Task RestartFight()
    {
        if (OnRestart.HasDelegate)
        {
            await OnRestart.InvokeAsync();
        }
    }
}
