@using Microsoft.AspNetCore.Components.Web
@using sansfightfinal.Components.Models
<h3>FightBox</h3>

<div tabindex="0"
     @onkeydown="HandleKeys"
     @ref="playerBoxRef"
     class="Fight-Box">
    <div class="soul" style="left:@_player.Position.Xpx; top:@_player.Position.Ypx;"></div>
</div>

@code 
{
    [Parameter] public Player _player { get; set; }
    [Parameter] public EventCallback<string> OnMove { get; set; }

    private ElementReference playerBoxRef;

    public FightBox(Player player)
    {
        _player = player;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await playerBoxRef.FocusAsync();
        }
    }

    private async Task HandleKeys(KeyboardEventArgs e)
    {
        string? direction = e.Key switch
        {
            "w" => "up",
            "s" => "down",
            "a" => "left",
            "d" => "right",
            _ => null
        };

        if (direction != null)
        {
            await OnMove.InvokeAsync(direction);
        }
    }
}
